{% extends "base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">
    {% for movie in resp.Search %}
    <div class="col-md-4">
        <div class="card my-card">

          <img class="card-img-top" src="{{movie.Poster}}" alt="Hey Noob, look at me...">

          <div class="card-body">
            <h5 class="card-title">Title: {{movie.Title}}</h5>
            <p class="card-text">year : {{movie.Year}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <a href="" class="btn btn-outline-dark">View</a>
            </li>
          </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
